html, body,
h1, h2, h3 {
	margin: 0;
	padding: 0;
}

div.header {
	position: fixed;
	background-color: white;
	width: 100%;
	margin: 0;
	padding: 0.5ex;
	border-bottom: 1px solid black;
	top: 0;
	left: 0;
	z-index: 1;
	height: 4em;
}

div.main {
	margin-top: 5em;
	margin-left: 1ex;
	margin-right: 1ex;
	margin-bottom: 1ex;
}

div.outset {
	padding: 1ex;
	margin-top: 1ex;
	margin-bottom: 1ex;
}

div.inset {
	background-color: white;
	margin-top: 1ex;
	margin-bottom: 1ex;
	padding: 0.5ex;
}

div.indent {
	margin-left: 1em;
}

#methods {
	background-color: #fcaf3e;
}

div.method {
	border: 1px solid #f57900;
}

#signals {
	background-color: #729fcf;
}

div.signal {
	border: 1px solid #3465a4;
}

#properties {
	background-color: #ad7fa8;
}

div.property {
	border: 1px solid #75507b;
}

div.docstring {
	margin: 1ex;
}

div.rationale {
	border-left: 2px solid gray;
	margin: 1ex;
	padding-left: 1ex;
}

span.permalink {
	float: right;
	font-size: x-small;
}
